.display-none {
	display: none;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #374A5D;
	font-family: sans-serif;
}
.todo-body .main-container {
	width: 100%;
	height: 100%;
	margin: 10px;
}
.todo-body .sub-holder {
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	background-color: #F4F6F8;
	color: #565656;
	text-align: center;
	padding: 10px;
	overflow: hidden;
}
.todo-body .todos-holder {
	position: relative;
	width: 500px;
}
.sub-holder h2 {
	font-size: 20px;
}
.todos-holder #input_quick_add {
	width: 70%;
	height: 25px;
	padding-left: 10px;
	border: 1px solid #666666;
	border-radius: 8px;
	float: left;
}
.todos-holder #input_select_sort {
	height: 29px;
	border: 1px solid #666666;
	border-radius: 8px;
}
.todos-holder ul.list-holder {
	padding: 0;
	margin-bottom: 30px;
}
.todos-holder .list-holder li {
	position: relative;
	height: 20px;
	padding: 5px 10px;
	margin-bottom: 5px;
	border: 1px solid #C0C0C0;
	border-radius: 8px;
	background-color: #FFFFFF;
	display: block;
}
.todos-holder .list-holder li .view .toggle {
	float: left;
	margin-right: 5px;
}
.todos-holder .list-holder li .view label {
	float: left;
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}
.todos-holder .list-holder li .view .destroy {
	position: absolute;
	right: 5px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(destroy.png) no-repeat;
}
.todos-holder .list-holder li .priority {
	padding: 0 30px;
	font-weight: bold;
}
.todos-holder .list-holder li .view .destroy:hover {
	background-position: 0 -20px;
}
.todos-holder .list-holder li.task-completed .view label {
	text-decoration: line-through;
}
.todos-holder .list-holder li.task-completed {
	background-color: #A29E9E;
}
.todos-holder .list-holder li .priority.p1 {
	background-color: #E06666;
}
.todos-holder .list-holder li .priority.p2 {
	background-color: #FFE599;
}
.todos-holder .list-holder li .priority.p3 {
	background-color: #93C47D;
}
.todos-holder .footer-controls {
	position: absolute;
	height: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #CBE4A6;
}
.todos-holder .footer-controls .items-left {
	position: absolute;
	top: 6px;
	left: 10px;
}
.todos-holder .footer-controls .clear-items {
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
}

.todo-body .details-holder {
	width: 300px;
	margin-left: 20px;
	padding: 10px 15px;
}


.todo-body .span-label {
	background: rgba(0, 0, 0, 0.1);
	float: left;
	padding: 0 10px;
	margin-right: 10px;
	border-radius: 8px;
}
.todo-body .controls {
	width: 100%;
	display: inline-block;
	margin: 5px 0;
}
.todo-body .controls .label {
	float: left;
	width: 100%;
	text-align: left;
}
.todo-body .controls .input {
	width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}