* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.display-none {
	display: none;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #D2D4D6;
	font-family: sans-serif;
}
.round-border {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.sub-holder {
	padding: 1em;
}
#todos_holder {
	background-color: whitesmoke;
	-webkit-box-shadow: 0px 8px 15px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 8px 15px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 8px 15px 0px rgba(50, 50, 50, 0.6);
	font-size: 1em;
	width: 95%;
	margin: 1em;
}
#details_holder {
	-webkit-box-shadow: 0px 12px 15px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 12px 15px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 12px 15px 0px rgba(50, 50, 50, 0.6);
	background-color: rgb(241, 241, 241);
	font-size: 1em;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    position: absolute;
	left: calc(25%);
	right: calc(25%);
	top: -900px;
}
#add_new:checked + #details_holder {
	top: 0;
}
/*#add_new:checked + (#todos_holder label[for="add_new"]:after) {*/
#add_new + (#todos_holder label[for="add_new"]) {
	background-color: red
}
div.footer-controls {
    float: left;
    width: 100%;
    background: rgb(195, 223, 195);
    padding: 1em;
}
ul.list-holder.controls {
    float: left;
}
input, select {
	height: 3em;
}
#input_quick_add {
    width: 70%;
    background-color: rgb(236, 236, 236);
    border: 1px rgb(214, 214, 214) solid;
}
select#input_select_sort {
    margin: 0;
    width: 25%;
    float: right;
}
.btn:not([disabled]) {
	cursor: pointer;
}
a.clear-items {
    background-color: lightgreen;
}
.span-label {
    padding: 0.5em;
}
label.btn {
    padding: 1em;
    background-color: rgb(159, 226, 159);
    margin: 0.5em 0;
}
.controls {
    width: 100%;
}
.controls .label {
    font-size: 1em;
}
button {
    width: 3em;
    height: 3em;
}
ul.list-holder.controls {
    list-style: none;
    padding-left: 0px;
}
li.li-item {
    background-color: rgb(230, 230, 230);
}
input.toggle {
    background:none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height:40px;
    text-align:center;
    font-size: 30px;
}
input.toggle:before {
    content: '✔';
    color: grey;
}
input.toggle:checked:before {
    content: '✔';
    color: green;
}
li.li-item:not(last-of-type) {
    border-bottom: 1px solid whitesmoke;
}
li.li-item.task-completed label {
    text-decoration: line-through;
}
a.destroy {
    float:right;
    height:40px;
    margin-top: 0.25em;
}
a.destroy:after {
    content: '✗';
    color: rgb(223, 203, 203);;
    font-size:40px
}
a.destroy:hover:after {
    color: red;
}
span.priority.span-label {
    background-color: rgb(181, 204, 184);
    margin: 0 0.5em;
    -webkit-border-radius: 240px;
    -moz-border-radius: 240px;
    border-radius: 240px;
}